html,
body {
    min-height: 100vh;
    margin: 0;
}

body {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

canvas {
    /*width: 256px;*/
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;

    border: 1px solid gray;

    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

table {
    display: none;

    margin-bottom: 20px;
    border-collapse: collapse;
    width: 100%;
    max-width: 500px;
}

table td {
    border: 1px solid gray;
}

table td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

p {
    margin: 5px 0;
}

button {
    padding: 0.6em 1em;
    background-color: white;
}

.button-controls {
    margin-top: 10px;
}

#flag-result {
    margin-top: 10px;
}

.flag-result__item:first-child {
    background: rgba(0, 0, 255, 0.08);
    border: 1px solid #aaa;
}