html, body {
    min-height: 100vh;
    margin: 0;
}

canvas {
    width: 256px;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

table {
    margin-bottom: 20px;
    border-collapse: collapse;
}

table td {
    width: 16px;
    height: 16px;
    border: 1px solid gray;
}

#search {
    display: block;
    margin-top: 20px;
}